/*항상 먼저 wapper를 스타일링 해서 윤곽을 잡는 것 부터 시작 */
.thumbs__wrapper {
    display: flex; /* 1차원적인 정렬을 간편하게 하기 위해서 */
    flex-wrap: wrap; /* 1차원 정렬을 여러 행으로 할 수 있다! 썸네일이 여러 행으로 나타나야 하기 때문에 이 속성을 추가함 */
    justify-content: space-between;
    margin: 60px 0 0 200px; /* 헤더와 네비 부분에 아무것도 있어서는 안됨. 그래서 각 헤더와 네비 만큼 마진을 줄 것임*/
    padding: 20px 0 0 10px; /*심미적인 현상을 고려하여 적당히 줌*/
}
.thumbs__item { /*한줄에 4개가 보이게끔 width를 1/4로 가져갈 것*/
    width: 25%;
    margin: 0 0 15px 0;
    padding: 0 10px;
}
.thumbs__thumbnail {
    max-width: 100%; /*자신이 속한 영역에서 벗어날 수 없게 됨*/
    margin: 0 0 10px 0; /*위, 오른쪽, 아래, 왼쪽. 시계방향으로 생각하면 될 듯 */
}
.thumbs__info {
    display: flex; /* 프로필 사진과 텍스트들이 좌우로 붙어야 하기때문에 */
}
.thumbs__profile {
    width: 36px;
    height: 36px;
    border-radius: 50%; /*18px 줘도 됨. 36px의 반이어서 그런 듯 */
    background-color: tomato;
}
.thumbs__text { /* 여기는 보기 좋게만 해주면 됨 */ 
    width: calc(100% - 36px); /*프로필 제외*/
    padding-left: 10px;
}
/*점점 글자가 작아지고, 연해지게*/
.thumbs__text--title{
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}
.thumbs__text--owner{
    font-size: 1rem;
    color: #aeaeae;
    margin-bottom: 0.2em;
}
.thumbs__text--anal{
    font-size: 0.9rem;
    color: #aeaeae;
}

/*반응. header와 nav의 공간을 염두해서 만들 것 */

/* 3열 대기 */
@media screen and (max-width: 1000px) {
    /*이때는 헤더나 nav가 움직이지 않음. 800일때부터 변함. 즉 그냥 3열이게만 바꾸면 됨 */
    .thumbs__item { 
        width: 33%;
        /* 마진이나 패딩은 기본적용을 유지할 것이므로 여기선 생략 */
    }

}

/* 2열 대기 */
@media screen and (max-width: 800px) {
    /*nav가 작아지고 헤더에서도 로고가 사라짐*/
    /*nav가 작아지니 썸네일 영역은 좀 더 늘어나면 좋고, 열수도 3개는 썸네일이 작으니 2개로 줄여주면 좋음*/
    .thumbs__item { 
        width: 50%;
    }
    /*thumbs_wrapper의 고정 마진 200px 때문에 빈 공간이 생긴 거. 해당 마진을 제거해줌*/
    .thumbs__wrapper {
        margin: 60px 0 0 60px; /* 헤더와 네비 부분에 아무것도 있어서는 안됨. 그래서 각 헤더와 네비 만큼 마진을 줄 것임*/
    }
}

/* 1열 대기 */
@media screen and (max-width: 400px) {
    /*nav가 완전 사라짐*/
    .thumbs__item { 
        width: 100%; /* 썸네일 하나가 한줄을 차지함 */
    }
    /*thumbs_wrapper의 고정 마진 200px 때문에 빈 공간이 생긴 거. 해당 마진을 제거해줌*/
    .thumbs__wrapper {
        margin: 60px 0 0 0; /* 헤더와 네비 부분에 아무것도 있어서는 안됨. 그래서 각 헤더와 네비 만큼 마진을 줄 것임*/
        padding: 20px 0 0 0; /*오른쪽, 왼쪽 패딩을 맞춰주기 위해서 */
    }
}
